body {
    margin: 7px;
}

.new-post{
    display: flex;
    flex-direction: column;
    border: 0.1px solid gray;
    margin: 20px 40px;
    padding: 25px;
}

.all_posts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}

.post{
    border: 0.1px solid gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 5px 20px;
    padding-top: 10px;
}

.content{
    font-size: 15px;
    white-space:pre;
    padding-top: 18px;
}

.user{
    font-size: 20px;
}

.date{
    color: grey;
    font-size: 12px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(255, 149, 0);
    background-color: transparent;
    text-decoration: underline;
  }

.edit-save{
    position: absolute;
    top: -10px;
    right: 0;
}

.save-btn{
    display: none;
}

.like-count{
    color:grey;
    font-size: smaller;
}