{% extends "recipebook/layout.html" %}
{% load static %}

{% block body %}
<h2>Your favourites recipes</h2>
{% if favourites %}
    <div class="row mx-3">
    {% for fav in favourites %}
        <div class="card mx-3" style="width: 15rem;">
            <a href="{% url 'recipes' fav.id %}" class="text-decoration-none text-dark">
                <img class="card-img-top" src="{{ fav.image }}" alt="{{ fav.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ fav.title }}</h5>
                    <p class="card-text">{{ fav.procedure|truncatechars:100 }}</p>
                    <p><strong>Status:</strong> {% if fav.is_active %}Active{% else %}Closed{% endif %}</p>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning">You do not have any favourite recipes.</div>
{% endif %}
{% endblock %}