{% extends "recipebook/layout.html" %}
{% load static %}

{% block body %}
<h2>Your favourites recipes</h2>
{% if favourites %}
    <div class="row row-recipe row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-3" id="recipes-container" data-initial-count="{{ recipes|length }}">
    {% for fav in favourites %}
    <div class="card h-100">
        <!-- Clicking on a recipe takes user to its specific page -->
        <a href="{% url 'recipes' id=fav.id %}" class="text-decoration-none text-dark">

        <div class="recipe-image-container">
        <img class="card-img-top recipe-image" alt="{{ fav.title }}" {% if fav.url %} src="{{ fav.url }}" {% else %} src="{{ fav.image.url }}" {% endif %}>
        </div>
        
        <div class="card-body">
        <h5 class="card-title">{{ fav.title }}</h5>
        </a>

            <div class="mb-2">
                {% for dish in fav.dish.all %}
                <a href="{% url 'display_filters' %}?dish={{ dish.id }}"><span class="badge badge-pill badge-dish me-1">
                    {{ dish }}</span></a>
                {% endfor %}
                {% for label in fav.label.all %}
                <a href="{% url 'display_filters' %}?label={{ label.id }}"><span class="badge badge-pill badge-label me-1">
                    {{ label }}</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% empty %}
        <div class="alert alert-warning">You do not have any favourite recipes.</div>
    {% endfor %}
    </div>

{% else %}
    <div class="alert alert-warning">You do not have any favourite recipes.</div>
{% endif %}
{% endblock %}