{% extends "recipebook/layout.html" %}
{% load static %}

{% block body %}

This is the home where I will explain how it functions.

<!-- Link to the meal plan app -->
<div class="container my-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create a Meal Plan</h5>
            <p class="card-text">Generate a balanced meal plan for a day or a week based on your preferences.</p>
            <a href="{% url 'mealplan_home' %}" class="btn btn-warning">Go to Meal Plan</a>
        </div>
    </div>
</div>
{% endblock %}