{% extends "recipebook/layout.html" %}
{% load static %}

{% block body %}
<h2>Recipes</h2>
<br>

<!-- User can filter the recipes, once done they are redirected to a page of filtered recipes. -->
<form action="{% url 'display_filters' %}" method="POST" class="my-3">
    {% csrf_token %}
    <label for="dish">Filter by dish:</label>
    <select name="dish" id="dish" multiple class="chosen-select" data-placeholder="Dish type">
        {% for dish in dishes %}
            <option value="{{ dish.id }}">{{ dish.dish_name }}</option>
        {% endfor %}
    </select>

    <label for="label">Filter by label:</label>
    <select name="label" id="label" multiple class="chosen-select" data-placeholder="Label">
        {% for label in labels %}
            <option value="{{ label.id }}">{{ label.label_name }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-warning btn-sm">Apply filter</button>
</form>

<div class="row row-recipe row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-3" id="recipes-container" data-initial-count="{{ recipes|length }}">
{% for recipe in recipes %}
<div class="card h-100">
    <!-- Clicking on a recipe takes user to its specific page -->
    <a href="{% url 'recipes' id=recipe.id %}" class="text-decoration-none text-dark">

    <div class="recipe-image-container">
    <img class="card-img-top recipe-image" alt="{{ recipe.title }}" {% if recipe.url %} src="{{ recipe.url }}" {% else %} src="{{ recipe.image.url }}" {% endif %}>
    </div>

    <div class="card-body">
    <h5 class="card-title">{{ recipe.title }}</h5>
    </a>

        <div class="mb-2">
            {% for dish in recipe.dish.all %}
            <a href="{% url 'display_filters' %}?dish={{ dish.id }}"><span class="badge badge-pill badge-dish me-1">
                {{ dish }}</span></a>
            {% endfor %}
            {% for label in recipe.label.all %}
            <a href="{% url 'display_filters' %}?label={{ label.id }}"><span class="badge badge-pill badge-label me-1">
                {{ label }}</span></a>
            {% endfor %}
        </div>
    </div>
</div>
{% empty %}
    <div class="alert alert-warning">No recipes meet these criteria &#128542</div>
{% endfor %}
</div>
{% endblock %}