{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Le prelibatezze della prociona{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
        <link href="{% static 'recipebook/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Le prelibatezze della prociona</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <!-- At the moment this is index, when I'll have the meal plan I will explain both in the home-->
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'random_recipe' %}">Random recipe</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'favourites' %}">Favourite recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_recipe' %}">Add recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <!-- Manually map Django's error to Bootstrap's danger class (otherwise it was not coloured)-->
                {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {% endif %}
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% block body %}
        {% endblock %}

</body>
{% block script %}
<!-- Pass the CSRF token to JavaScript -->
<script>const csrftoken = '{{ csrf_token }}';</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<script src="{% static 'recipebook/recipebook.js' %}"></script>
{% endblock %}
</html>