{% extends "recipebook/layout.html" %}
{% load static %}

{% block body %}

<!-- Image and details (shown side by side) -->
<div class="row">
    <div class="col-md-4">
    <img class="card-img-top recipe-image" alt="{{ recipes.title }}" height="400px"{% if recipes.url %} src="{{ recipes.url }}" {% else %} src="{{ recipes.image.url }}" {% endif %}>
    </div>

    <div class="col-md-8">
        <div class="d-flex justify-content-between">
        <h2>{{ recipes.title }}</h2>
        <!-- Favourite buttons -->
            {% if user.is_authenticated %}
            <div class="top-0 right-0">
            <form method="POST" action="{% url 'recipes' recipes.id %}">
                {% csrf_token %}
                {% if is_fav %}
                    <button type="submit" class="btn btn-danger btn-sm">Remove from favourites</button>
                {% else %}
                    <button type="submit" class="btn btn-success btn-sm">Add to favourites</button>
                {% endif %}
            </form>
            </div>
            {% endif %}
        </div>

        <div class="mb-2">
            {% for dish in recipes.dish.all %}
            <a href="{% url 'display_filters' %}?dish={{ dish.id }}"><span class="badge badge-pill badge-dish me-1">
                {{ dish }}</span></a>
            {% endfor %}
            {% for label in recipes.label.all %}
            <a href="{% url 'display_filters' %}?label={{ label.id }}"><span class="badge badge-pill badge-label me-1">
                {{ label }}</span></a>
            {% endfor %}
            {% if recipes.is_new %}
            <span class="badge badge-pill badge-new me-1">This recipe hasn't been tried by Prociona yet</span>
            {% endif %}
        </div>
        <br><br>
        <h4>Ingredients:</h4>
        <ul class="list-group">
            {% for ingredient in recipes.ingredients_list %}
            <li class="list-group-item"><input type="checkbox">  {{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<br>

<div class="d-flex justify-content-between" data-recipe-id="{{ recipes.id }}">
<h4>Procedure:</h4>
<!-- Edit button only for the super user -->
    <div>
        <button class="edit-btn btn btn-outline-secondary">Edit</button>
        <!-- Save button is hidden by default (with CSS) and shown when required (with JavaScript)-->
        <button class="save-btn btn btn-outline-secondary">Save</button>
    </div>
</div>
<p class="procedure">{{ recipes.procedure }}</p>

{% endblock %}