body {
    background-color: beige;
    color: rgb(55, 47, 42);
    margin: 14px;
}

a:link {
    color: rgb(255, 149, 0);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(255, 149, 0);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(225, 132, 3);
    background-color: transparent;
    text-decoration: underline;
}

.btn-add-ingredient{
    background-color: rgb(255, 149, 0);
    border: none;
    color: rgb(69, 7, 90);
    text-align: center;
    border-radius: 10px;
}

.btn-remove-ingredient{
    background-color: transparent;
    border: none;
    padding-top: 7px;
}

.recipe-image-container{
    width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-image{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card{
    background-color: transparent;
    border: none;
}

.card-title{
    color: rgb(55, 47, 42);
}

.list-group-item{
    background-color: transparent;
    border: none;
}

.badge-dish{
    background-color: rgb(31, 186, 98);
    color: rgb(55, 47, 42);
}
.badge-label{
    background-color: greenyellow;
    color: rgb(55, 47, 42);
}
.badge-new{
    background-color: rgb(255, 156, 255);
}

.search-wrap{
    display: flex;
    align-items: center;
}